# Ignore model weights
models/*.h5
#ignore dataset files
datasets/
/# Ignore dataset directories
datasets/cats_vs_dogs/
datasets/test/
datasets/train/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python bytecode files
__pycache__/
*.py[cod]
# Ignore virtual environment directories
venv/
# Ignore logs
logs/
# Ignore temporary files
*.tmp